{{> header}}

<div class="signedPeople">
{{#signers}}

    <p> <a href="{{ homepage }}" target='_blank'>{{ firstname }} {{ lastname}}</a>   {{ age}} <a href="/location/{{ city }}">{{city}}</a>  </p>
{{/signers}}
</div>
