{{> header}}

<div class="signedPeople">
{{#signers}}
{{#if signed}}
<h3> you already signed </h3>
{{/if}}
    <p> {{firstname}}  {{ lastname}} {{ age}} <a href="/location/{{ city }}">{{city}}</a>  </p>
{{/signers}}
</div>