<div class="thanks">

{{> header}}



{{#if noSignature}}
    <div class="sig-deleted">
    <a href="/sign_petition"> sign the petition </a>
    <a  href="/edit"> Edit your profile </a>
    </div>
{{else}}

<div class="edit"><p> thank you <strong>{{first}} {{last}}</strong> for signing the petition</p>
	<img id="sig-image" src="{{signature}}" alt="Your signature will go here!"/>
    
    
   
</div>
<a href="/signers"> <strong>{{countSignatures}}{{thanksMsg}}</strong> </a>
    <a  href="/edit"> Edit your profile </a>
    <form action="/deleteSignature"  class="edit-profile" method="POST" name="edit">
            <div >
                <input class="submit_link edit" type="submit" value =" Delete your signature"/>
            </div>
    </form>
    

{{/if }}

    <form action="/deleteProfile"  class="edit-profile" method="POST" name="edit">
            <div >
                <input class="submit_link edit" type="submit" value =" Delete your profile"/>
            </div>
    </form>
</div>

