{{> header}}
{{#if signed}}
{{> alreadysigned}}
{{/if }}
<div class="thanks"><p> thank you <strong>{{first}} {{last}}</strong> for signing the petition</p>
	<img id="sig-image" src="{{signature}}" alt="Your signature will go here!"/>
    <a href="/signers"> <strong>{{countUsers}}{{thanksMsg}}</strong> </a>
</div>

